body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-image: url(https://kartinkof.cdnsap.ru/posts/zimnii-fon-minimalizm-70-foto-9.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    }

    img {

        width: 20vh;
        display: flex;


    }

    section {

        position: relative;
        background-color: transparent;
     border: 2px solid rgb(255, 255, 255);
     border-radius: 30px;
     backdrop-filter: blur(20px);
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 2rem 3rem;
    }

    h1 {
        color: rgb(255, 255, 255);
        margin: 0; }

        a {
            color: rgba(255, 255, 255, 0.466);
                text-decoration: none;
                transition: all 0.6s ease;
            }

            a:hover {

                color: rgb(255, 255, 255);

            }

            .animate-motion {
               
                
                font-weight: bold;
                font-size: 22px;
                padding: 20px;
                text-align: center;
                color: #FFFFFF;
                animation: animate_motion 4s 0s both infinite;
            }
            .animate-motion:hover {
                animation: none;
            }
             
            @keyframes animate_motion {
                0%, 20% {
                    transform: translate3d(0, 0, 0);
                }
                10%, 14%, 18%, 2%, 6% {
                    transform: translate3d(-10px, 0, 0);
                }
                12%, 16%, 4%, 8% {
                    transform: translate3d(12px, 0, 0);
                }     }